@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }

    100%{
           opacity: 1;
           transform: translateY(0px);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    100%{
           opacity: 1;
           transform: translateX(0px);
    }
}

@keyframes hanging{
    0%{
        transform: rotate(0deg) translateY(0);
    }

    25%{
        transform: translateY(-3px);
    }

    50%{
        transform: translateY(-5px);
    }

    75%{
        transform: translateY(-3px);
    }

    100%{
        transform:translateY(0);
    }
}